mixin sectionheader(label, open=true)
  //- Creates one of the toggleable headers
    Parameters
      label: i18n code for the text appearing on the header
        (block is inserted if no label is specified)
  details(open=open)
    summary=label
    block

mixin optionList(type)
  case type
    when 'T'
      each name in talentOrigins
        option=name
    when 'o'
      each name in aufbewahrungsorte
        option=name

mixin inputField(name, type="l", rollValueAddition=max)
  //- Creates a editable input field
    Parameters
      name: underlying attribute name (without "attr_")
      type:
          'l': input type text
          'h': hidden input
          'n': input type number
          't'/'m': input type textbox
          'c': checkbox
          'P': Probenwurf(Roll)
          'R': Resistenz/Probenwurf(Roll)
          'S': Steigerbar
          'U': Steigerbar+Nutzbar
          'F': Steigerbar+Nutzbar+EPgenerator
          'E': EPgenerator
          'A': Ausführen(Roll)
          'N': Wiederherstellen/Regenerieren(Roll) Nacht
          'M': Wiederherstellen/Regenerieren(Roll) 1h
          'I': Initiative
    Attributes
      All attributes are passed on to the input.
  - delete attributes.type;
  - delete attributes.name;
  case type
    when 'l'
      input(type="text", name=`attr_${name}`, title=`@{${name}}`)&attributes(attributes)
    when 'n'
    when '/'
      input(type="number", name=`attr_${name}`, title=`@{${name}}`, value="0")&attributes(attributes)
    when 'h'
      input(type="hidden", name=`attr_${name}`, title=`@{${name}}`)&attributes(attributes)
    when 'c'
      input(type="checkbox", name=`attr_${name}`, title=`@{${name}}`)&attributes(attributes)
    when 'm'
    when 't'
      textarea(name=`attr_${name}`, title=`@{${name}}`, cols="30", rows="10")&attributes(attributes)
    when 'S'
    when 'U'
    when 'F'
    when 'E'
      button(type="action", name=`act_${name}`)
    when 'P'
      button(type="roll", name=`roll_${name}`, value=`Rolle ${name} um ?{Erschwernis|0} übrige Punkte: [[@{${name}${rollValueAddition}}-?{Erschwernis} - (1d100cs1cf>[[1+@{${name}${rollValueAddition}-?{Erschwernis}}]]cf100)]]`)
    when 'R'
      button(type="roll", name=`roll_${name}`, value=`?{Was?|Gegenprobe, Rolle ${name} [[(1d100<@{${name}${rollValueAddition}}cs1cf>[[1+@{${name}${rollValueAddition}}]]cf100)]] Erfolge|Schadensreduktion, Schaden wurde durch ${name} von ?{Schaden} auf [[?{Schaden}*@{${name}${rollValueAddition}}/100]] reduziert.}`)
    when 'A'
      button(type="roll", name=`roll_${name}`, value="/me insert use spez/Item Rolling here")
    when 'N'
      button(type="roll", name=`roll_${name}`, value="/me insert Reg over night Rolling here")
    when 'M'
      button(type="roll", name=`roll_${name}`, value="/me insert Reg with meditation Rolling here")
    when 'I'
      button(type="roll", name=`roll_${name}`, value="/me insert initiative Rolling here")
    default
      select(name=`attr_${name}`, title=`@{${name}}`)&attributes(attributes)
        +optionList(type)

mixin outputField(name, type="i")
  //- Creates a editable input field
    Parameters
      name: underlying attribute name (without "attr_")
      type:
          'l': input type text
          'n': input type number
          't'/'m': input type textbox
    Attributes
      All attributes are passed on to the input.
  span(name=`attr_${name}`, title=`@{${name}}`)&attributes(attributes)

mixin visibility(name,visibility='a')
  case visibility
    when 0
    when 'n'
      +inputField(name, 'h')&attributes(attributes)
    when 1
    when 'e'
      span.sheet-edit
        block
    when 2
    when 'r'
      span.sheet-edit.sheet-display
        block
    default
      span.sheet-edit.sheet-display.sheet-show
        block

mixin attrField(name, visibility='a', editible='r', type="l")
  //- Creates a value field
    Parameters
      name: underlying attribute name (without "attr_")
      visibility/editible: set if/when the attribute is visible/editible
          0/'n': never
          1/'e': only in editmode
          2/'r': not in show
          3/'a': always
      type:
          'l': input type text
          'n': input type number
          't'/'m': input type textbox
          'M': Maxwert(dargestellt mit '/' vorangehend, verlikt zu final)
    block adapted to visibility
    Attributes
      All attributes are passed on to the input.

  +visibility(name,visibility)&attributes(attributes)
    case editible
      when 0
      when 'n'
        +inputField(name, 'h')&attributes(attributes)
        +outputField(name, type).sheet-edit.sheet-display.sheet-show
      when 1
      when 'e'
        +inputField(name, type)&attributes(attributes).sheet-edit
        +outputField(name, type).sheet-display.sheet-show
      when 2
      when 'r'
        +inputField(name, type)&attributes(attributes).sheet-edit.sheet-display
        +outputField(name, type).sheet-show
      default
        +inputField(name, type)&attributes(attributes).sheet-edit.sheet-display.sheet-show
    if type=='/'
      span="/"

mixin labeledBlock(label)
  //- Creates a label container that looks like one of the underlined text inputs.
    block is inserted where the input would normally be
    Parameters
      label: [i18n code for the text appearing underneath, default translation]
    Attributes
      class is passed on to the containing label
  label(class=["text-input", attributes.class])
    block
    .sheet-label=label[1]

mixin makeItems(headers, rows)
  //- Creates a single element
    Parameters
      headers: a list(1 to 3) of tupels [id,label,...]
        id: will be apended to the rownames -> attr_rownameid = name of cell
        visibility: see attrField
        editible: see attrField
        type: class for attrField
  each attr in rows
    if attr.length>3
      +inputField(attr[0],attr[3]).sheet-invisible-button
    +labeledBlock(attr).sheet-item
      each header,index in headers
        +attrField(`${attr[0]}${header[0][0]}`,header[1],header[2],header[3])&attributes(header[4])
          if index<headers.length-2
            span="+"
          else if index<headers.length-1
            span="="

mixin makeSingleItems(headers, attr)
  //- Creates a single element for each combination of headers and rows
    Parameters
      headers: a list(1 to 3) of tupels [id,label,...]
        id: will be apended to the rownames -> attr_rownameid = name of cell
        visibility: see attrField
        editible: see attrField
        type: class for attrField
      row: a single row
  each header,index in headers
    +labeledBlock(header[0]).sheet-item
      +attrField(`${attr[0]}${header[0][0]}`,header[1],header[2],header[3])&attributes(header[4])

mixin makeTable(headers, rows)
  //- Creates a table
    Parameters
      headers: a list of tupels [id,label,...]
        id: will be apended to the rownames -> attr_rownameid = name of cell
        visibility: see attrField
        editible: see attrField
        type: class for attrField
        additionals: class, ... piped as attributes to the attrField
  .sheet-table
    .sheet-table-heading
      .sheet-table-row
        .sheet-table-head=""
        each header in headers
          case editible
            when 0
            when 'n'
              - break
            when 1
            when 'e'
              .sheet-table-head.sheet-edit-attr=header[0][1]
            when 2
            when 'r'
              .sheet-table-head.sheet-edit.sheet-display=header[0][1]
            default
              .sheet-table-head=header[0][1]
    .sheet-table-body
      each attr in rows
        if attr.length>3
          +inputField(attr[0],attr[3]).sheet-invisible-button
        .sheet-table-row
          .sheet-table-item=attr[1]
          each header in headers
            .sheet-table-item
              +attrField(`${attr[0]}${header[0][0]}`,header[1],header[2],header[3])&attributes(header[4])

mixin addToJsVars(attr,header)
  - a=b

mixin generateAttributeArray(fieldCode, rows, type="Table", fieldNames=fieldCodeAdditions, fieldDefaults=fieldCodeDefaults)
  //- Visualize a attribute array
    Parameters
      fieldCode: fieldcode for the 'rows'
      rows: the attributes that shall be created
      type: how the attributes that shall be printed(Table,Flexbox,Flexitems(without the Box),singleItems(a flexbox per row),repeating,...)
      fieldNames: a list names/additionals that shall be added(attr_rownameFielname)
      fieldDefaults: the default fieldcodes
  - var headers = []
  each val, index in fieldCode
    - var float=parseFloat(fieldCode[index])
    if float
      - var use=fieldDefaults[index]
    else
      - var use=fieldCode[index]
    if fieldCode[index]
      - var v = use[0]
      - var e = use[1]
      - var t = use[2]
      - headers.push([fieldNames[index],v,e,t,""])
  case type
    when "Table"
      +makeTable(headers, rows)
    when "Flexbox"
      .flex.syncBottom
        +makeItems(headers, rows)
    when "Flexitems"
      +makeItems(headers, rows)
    when "singleItems"
      each attr in rows
        .flex.syncBottom
          +makeSingleItems(headers, attr)
    when "singleItemsFlexbox"
      .flex.syncBottom
        each attr in rows
          .flex.syncBottom
            +makeSingleItems(headers, attr)
    when "repeating"
      each attr in rows
        fieldset(class=`repeating_${attr[0]}`)
          +makeSingleItems(headers, attr)

mixin valueToJs(variable)
  | 
  | const 
  != variable[2]
  | = "
  != variable[0]
  |"
mixin fullArrayToJs(variables,arrayNameInJs)
  - var myList=[]
  each variable in variables
    +valueToJs(variable)
    -myList.push(variable[2])
  | 
  | const 
  != arrayNameInJs
  | = [
  != myList
  |]
mixin plainArrayToJs(variables,arrayNameInJs)
  - var myList=[]
  each variable in variables
    -myList.push(`"${variable[0]}"`)
  | 
  | const 
  != arrayNameInJs
  | = [
  != myList
  |]
