mixin sectionheader(label, open=true)
  //- Creates one of the toggleable headers
    Parameters
      label: i18n code for the text appearing on the header
        (block is inserted if no label is specified)
  .section-toggle-header
    input(type="checkbox", class="sheet-toggle-show", checked=open)
    span=label
    .sheet-body
      block

mixin optionList(type)
  case type
    when 'O'
      each name in talentOrigins
        if name.length==2
          option(value=name[1] selected=attributes["value"]==name[1]?true:false)=name[0]
        else
          option(selected=attributes["value"]==name?true:false)=name
    when 'T'
      each name in talentTypes
        if name.length==2
          option(value=name[1] selected=attributes["value"]==name[1]?true:false)=name[0]
        else
          option(selected=attributes["value"]==name?true:false)=name
    when 'o'
      each name in aufbewahrungsorte
        if name.length==2
          option(value=name[1] selected=attributes["value"]==name[1]?true:false)=name[0]
        else
          option(selected=attributes["value"]==name?true:false)=name

mixin inputField(name, nameWithAdditions, type="l", rollValueAddition=max[0])
  //- Creates a editable input field
    Parameters
      name: underlying attribute name (without "attr_")
      type:
          'l': input type text
          'h': hidden input
          'n': input type number
          't'/'m': input type textbox
          'c': checkbox
          'P': Probenwurf(Roll)
          'R': Resistenz/Probenwurf(Roll)
          'S': Steigerbar
          'U': Steigerbar+Nutzbar
          'F': Steigerbar+Nutzbar+EPgenerator
          'E': EPgenerator
          'A': Ausführen(Roll)
          'N': Wiederherstellen/Regenerieren(Roll) Nacht
          'M': Wiederherstellen/Regenerieren(Roll) 1h
          'I': Initiative
    Attributes
      All attributes are passed on to the input.
  - delete attributes.type;
  - delete attributes.name;
  case type
    when 'l'
      input(type="text", name=`attr_${nameWithAdditions}`, title=`@{${nameWithAdditions}}`, size=20)&attributes(attributes)
    when 'n'
    when '/'
      input(type="number", name=`attr_${nameWithAdditions}`, title=`@{${nameWithAdditions}}`, size=3)&attributes(attributes)
    when 'h'
      input(type="hidden", name=`attr_${nameWithAdditions}`, title=`@{${nameWithAdditions}}`)&attributes(attributes)
    when 'c'
      - var checked=attributes.value;
      - delete attributes.value;
      input(type="checkbox", name=`attr_${nameWithAdditions}`, title=`@{${nameWithAdditions}}`, checked=(checked==0)?false:true)&attributes(attributes)
    when 'm'
    when 't'
      textarea(name=`attr_${nameWithAdditions}`, title=`@{${nameWithAdditions}}`)&attributes(attributes)
    when 'S'
      button(type="action", name=`act_${name}${levelUpButtonAddition}`)&attributes(attributes)=levelUpButtonAddition[1]
      -levelUpButtons.push([name])
    when 'U'
      button(type="action", name=`act_${name}${levelUpButtonAddition[0]}`)&attributes(attributes)=levelUpButtonAddition[1]
      -levelUpButtons.push([name])
      button(type="roll", name=`roll_${nameWithAdditions}`, value=`Rolle ${name} um ?{Erschwernis|0} übrige Punkte: [[@{${name}${rollValueAddition}}-?{Erschwernis} - (1d100cs1cf>[[1+@{${name}${rollValueAddition}-?{Erschwernis}}]]cf100)]]`)&attributes(attributes)="Probe"
    when 'F'
      button(type="action", name=`act_${name}${levelUpButtonAddition[0]}`)&attributes(attributes)=levelUpButtonAddition[1]
      -levelUpButtons.push([name])
      button(type="roll", name=`roll_${nameWithAdditions}`, value=`Rolle ${name} um ?{Erschwernis|0} übrige Punkte: [[@{${name}${rollValueAddition}}-?{Erschwernis} - (1d100cs1cf>[[1+@{${name}${rollValueAddition}-?{Erschwernis}}]]cf100)]]`)&attributes(attributes)="Probe"
      button(type="action", name=`act_${name}${usingButtonAddition[0]}`)&attributes(attributes)=usingButtonAddition[1]
      -usingButtons.push([name])
    when 'E'
      button(type="action", name=`act_${name}${usingButtonAddition[0]}`)&attributes(attributes)=usingButtonAddition[1]
      -usingButtons.push([name])
    when '?'
      button(type="action", name=`act_${nameWithAdditions}`)&attributes(attributes)
        block
    when '0'
      button(type="roll", name=`roll_${nameWithAdditions}`, value=`@{${name}_makro}`)&attributes(attributes)
        block
    when 'P'
      button(type="roll", name=`roll_${nameWithAdditions}`, value=`Rolle ${name} um ?{Erschwernis|0} übrige Punkte: [[@{${name}${rollValueAddition}}-?{Erschwernis} - (1d100cs1cf>[[1+@{${name}${rollValueAddition}-?{Erschwernis}}]]cf100)]]`)&attributes(attributes)="Probe"
        block
    when 'R'
      button(type="roll", name=`roll_${nameWithAdditions}`, value=`?{Was?|Gegenprobe, Rolle ${name} [[(1d100<@{${name}${rollValueAddition}}cs1cf>[[1+@{${name}${rollValueAddition}}]]cf100)]] Erfolge|Schadensreduktion, Schaden wurde durch ${name} von ?{Schaden} auf [[?{Schaden}*@{${name}${rollValueAddition}}/100]] reduziert.}`)&attributes(attributes)="Probe"
        block
    when 'A'
      button(type="roll", name=`roll_${nameWithAdditions}`, value="/me insert use spez/Item Rolling here")&attributes(attributes)="Nutzen"
        block
    when 'N'
      button(type="roll", name=`roll_${nameWithAdditions}`, value="/me insert Reg over night Rolling here")&attributes(attributes)="Nutzen"
        block
    when 'M'
      button(type="roll", name=`roll_${nameWithAdditions}`, value="/me insert Reg with meditation Rolling here")&attributes(attributes)="Nutzen"
        block
    when 'I'
      button(type="roll", name=`roll_${nameWithAdditions}`, value="/me insert initiative Rolling here")&attributes(attributes)="Eintragen"
        block
    default
      select(name=`attr_${nameWithAdditions}`, title=`@{${nameWithAdditions}}`)&attributes(attributes)
        +optionList(type)&attributes(attributes)

mixin outputField(name, type="i")
  //- Creates a editable input field
    Parameters
      name: underlying attribute name (without "attr_")
      type:
          'l': input type text
          'n': input type number
          't'/'m': input type textbox
    Attributes
      All attributes are passed on to the input.
  span(name=`attr_${name}`, title=`@{${name}}`)&attributes(attributes)

mixin visibility(visibility='a',type="span")
  case visibility
    when 0
    when 'n'
      if type=="span"
        span.sheet-hidden&attributes(attributes)
          block
      else
        .sheet-hidden&attributes(attributes)
          block
    when 1
    when 'e'
      if type=="span"
        span.sheet-edit&attributes(attributes)
          block
      else
        .sheet-edit&attributes(attributes)
          block
    when 2
    when 'r'
      if type=="span"
        span.sheet-edit.sheet-display&attributes(attributes)
          block
      else
        .sheet-edit.sheet-display&attributes(attributes)
          block
    default
      if type=="span"
        span.sheet-edit.sheet-display.sheet-show&attributes(attributes)
          block
      else
        .sheet-edit.sheet-display.sheet-show&attributes(attributes)
          block

mixin attrField(name, nameWithAdditions,visibility='a', editible='r', type="l", content="")
  //- Creates a value field
    Parameters
      name: underlying attribute name (without "attr_")
      visibility/editible: set if/when the attribute is visible/editible
          0/'n': never
          1/'e': only in editmode
          2/'r': not in show
          3/'a': always
      type:
          'l': input type text
          'n': input type number
          't'/'m': input type textbox
          'M': Maxwert(dargestellt mit '/' vorangehend, verlikt zu final)
    block adapted to visibility
    Attributes
      All attributes are passed on to the input.
  +visibility(visibility)
    case editible
      when 0
      when 'n'
        +inputField(name, nameWithAdditions, 'h')&attributes(attributes)=content
        +outputField(name, type).sheet-edit.sheet-display.sheet-show
      when 1
      when 'e'
        +inputField(name, nameWithAdditions, type, defaultValue=defaultValue)&attributes(attributes).sheet-edit=content
        +outputField(name, type).sheet-display.sheet-show
      when 2
      when 'r'
        +inputField(name, nameWithAdditions, type, defaultValue=defaultValue)&attributes(attributes).sheet-edit.sheet-display=content
        +outputField(name, type).sheet-show
      default
        +inputField(name, nameWithAdditions, type, defaultValue=defaultValue)&attributes(attributes).sheet-edit.sheet-display.sheet-show=content
    if type=='/'
      span="/"
    block

mixin labeledBlock(label)
  //- Creates a label container that looks like one of the underlined text inputs.
    block is inserted where the input would normally be
    Parameters
      label: [i18n code for the text appearing underneath, default translation]
    Attributes
      class is passed on to the containing label
  label(class=["sheet-text-input", attributes.class])
    block
    .sheet-label=label[1]

mixin makeItems(headers, rows)
  //- Creates a single element
    Parameters
      headers: a list(1 to 3) of tupels [id,label,...]
        id: will be apended to the rownames -> attr_rownameid = name of cell
        visibility: see attrField
        editible: see attrField
        type: class for attrField
  each attr in rows
    if (headers.length==1) & ((headers[0][3]=='?') | (headers[0][3]=='0'))
      +labeledBlock([""," ",""]).sheet-item.sheet-line
        +attrField(`${attr[0]}`,`${attr[0]}${headers[0][0][0]}`,headers[0][1],headers[0][2],headers[0][3],attr[1])&attributes(headers[0][4])
    else
      //-if attr.length>3
      //-  +inputField(`${attr[0]}`,`${attr[0]}${action[0]}`,attr[3]).sheet-invisible-button
      +labeledBlock(attr).sheet-item.sheet-line
        if attr.length>3
          +inputField(`${attr[0]}`,`${attr[0]}${action[0]}`,attr[3])
        each header,index in headers
          +attrField(`${attr[0]}`,`${attr[0]}${header[0][0]}`,header[1],header[2],header[3])
            //-if index<headers.length-2
            //-  span="+"
            //-else if index<headers.length-1
            //-  span="="

mixin makeSingleItems(headers, attr)
  //- Creates a single element for each combination of headers and rows
    Parameters
      headers: a list(1 to 3) of tupels [id,label,...]
        id: will be apended to the rownames -> attr_rownameid = name of cell
        visibility: see attrField
        editible: see attrField
        type: class for attrField
      row: a single row
  each header,index in headers
    +visibility(header[1],"div").sheet-item
      if (header[3]=='?') | (header[3]=='0')
        +attrField(`${attr[0]}`,`${attr[0]}${header[0][0]}`,header[1],header[2],header[3],header[0])&attributes(header[4])
      else
        +labeledBlock(header[0])
          +attrField(`${attr[0]}`,`${attr[0]}${header[0][0]}`,header[1],header[2],header[3])&attributes(header[4])

mixin makeSingleItemFlexbox(headers, attr)
  if attr.length>4 & attr[4]=="h"
    +inputField(`${attr[0]}`,`${attr[0]}${show[0]}`,attr[4]).toggle-show
    .sheet-row-hider.sheet-flex.sheet-syncBottom
      if attr[3]!=""
        +inputField(`${attr[0]}`,`${attr[0]}${action[0]}`,attr[3])
      +makeSingleItems(headers, attr)
  else
    .sheet-flex.sheet-syncBottom
      if attr.length>3 & attr[3]!=""
        +inputField(`${attr[0]}`,`${attr[0]}${action[0]}`,attr[3])
      +makeSingleItems(headers, attr)

mixin makeTableRow(headers, attr)
  .sheet-table-item=attr[1]
    if attr.length>3 & attr[3]!=""
      +inputField(`${attr[0]}`,`${attr[0]}${action[0]}`,attr[3])
  each header,index in headers
    - var defaultValue=""
    if attr.length>5
      - defaultValue = attr[5][index]
    +visibility(header[1],"div")(class="sheet-table-item")
      +attrField(`${attr[0]}`,`${attr[0]}${header[0][0]}`,header[1],header[2],header[3])(value=`${defaultValue}`)&attributes(header[4])

mixin makeTable(headers, rows)
  //- Creates a table
    Parameters
      headers: a list of tupels [id,label,...]
        id: will be apended to the rownames -> attr_rownameid = name of cell
        visibility: see attrField
        editible: see attrField
        type: class for attrField
        additionals: class, ... piped as attributes to the attrField
  .sheet-table
    .sheet-table-heading
      .sheet-table-row
        .sheet-table-head=""
        each header in headers
          +visibility(header[1],"div")(class="sheet-table-head")=header[0][1]
    .sheet-table-body
      each attr in rows
        if attr.length>4 & attr[4]=="h"
            +inputField(`${attr[0]}`,`${attr[0]}${show[0]}`,attr[4])(value=1).sheet-toggle-show
            .sheet-row-hider.sheet-table-row
              +makeTableRow(headers, attr)
        //-else if attr[3]!=""
        //-  //-+inputField(`${attr[0]}`,`${attr[0]}${action[0]}`,attr[3]).sheet-invisible-button
        //-  +makeTableRow(headers, attr)
        else
          .sheet-table-row
            +makeTableRow(headers, attr)

mixin generateAttributeArray(fieldCode, rows, type="Table", fieldNames=fieldCodeAdditions, fieldDefaults=fieldCodeDefaults)
  //- Visualize a attribute array
    Parameters
      fieldCode: fieldcode for the 'rows'
      rows: the attributes that shall be created
      type: how the attributes that shall be printed(Table,Flexbox,Flexitems(without the Box),singleItems(a flexbox per row),repeating,...)
      fieldNames: a list names/additionals that shall be added(attr_rownameFielname)
      fieldDefaults: the default fieldcodes
  - var headers = []
  - var indexes = []
  each val, index in fieldCode
    - var float=parseFloat(fieldCode[index])
    if float
      - var use=fieldDefaults[index]
    else
      - var use=fieldCode[index]
    if fieldCode[index]
      - var v = use[0]
      - var e = use[1]
      - var t = use[2]
      - headers.push([fieldNames[index],v,e,t,""])
      - indexes.push(index)
  - var currentType=[]
  if fieldNames==fieldCodeAdditions
    if indexes[0]==0 & indexes[1]==1 & indexes[2]==2 & indexes[3]==3 & indexes[4]==6 & indexes[5]==7
      - currentType=add12To7And34To8m
    else if indexes[0]==0 & indexes[1]==1 & indexes[2]==2 & indexes[3]==3 & indexes[4]==6
      - currentType=add1234To7
    else if indexes[0]==0 & indexes[1]==2 & indexes[2]==3 & indexes[3]==4 & indexes[4]==6
      - currentType=add134Times5To7
    else if indexes[0]==0 & indexes[1]==2 & indexes[2]==3 & indexes[3]==6
      - currentType=add134To7
    else if indexes[0]==0 & indexes[1]==3 & indexes[2]==6
      - currentType=add14To7
    else if indexes[0]==0 & indexes[1]==3 & indexes[2]==6
      - currentType=add14To7m
    else if indexes[0]==2 & indexes[1]==3 & indexes[2]==4 & indexes[3]==6
      - currentType=add34Times5To7
    else if indexes[0]==2 & indexes[1]==3 & indexes[2]==6
      - currentType=add34To7
  case type
    when "Table"
      +makeTable(headers, rows)
      each row in rows
        - currentType.push(row)
    when "Flexbox"
      .sheet-flex.sheet-syncBottom
        +makeItems(headers, rows)
        each row in rows
          - currentType.push(row)
    when "Flexitems"
      +makeItems(headers, rows)
      each row in rows
        - currentType.push(row)
    when "singleItems"
      each attr in rows
        +makeSingleItemFlexbox(headers, attr)
      each row in rows
        - currentType.push(row)
    when "singleItemsFlexbox"
      .sheet-flex.sheet-syncBottom
        each attr in rows
          .sheet-flex.sheet-syncBottom
            +makeSingleItems(headers, attr)
      each row in rows
        - currentType.push(row)
    when "repeating"
      each attr in rows
        fieldset(class=`repeating_${attr[0]}`)
          +makeSingleItemFlexbox(headers, attr)
          //-TODO: append a Weapon/Armor section

mixin valueToJs(variable)
  | 
  | const 
  != variable[2]
  | = "
  != variable[0]
  |";
mixin fullArrayToJs(variables,arrayNameInJs)
  - var myList=[]
  each variable in variables
    +valueToJs(variable)
    -myList.push(variable[2])
  if arrayNameInJs!=""
    | 
    | const 
    != arrayNameInJs
    | = [
    != myList
    |];
mixin plainArrayToJs(variables,arrayNameInJs)
  - var myList=[]
  each variable in variables
    -myList.push(`"${variable[0]}"`)
  | 
  | const 
  != arrayNameInJs
  | = [
  != myList
  |];
mixin plainArrayOfArraysToJs(variables,arrayNameInJs)
  | 
  | const 
  != arrayNameInJs
  | = [
  - var second=false
  each list in variables
    - var myList=[]
    each variable in list
      -myList.push(`"${variable}"`)
    if second
      |,
    |[
    != myList
    |]
    -second=true
  |];
